// @import "../variables";



#emailBody {
    background-color: $grey-10;

    .email-nav {
        padding: 16px;
        background: $primary-medium;
        font-size: $large;
        font-weight: bold;

        img {
            height: 38px;
            margin-right: 10px;
        }
    }

    #backgroundTable {
        border-radius: 6px;
        background: $white;
        margin: 30px 0;
        overflow: hidden;
    }

    .footerContent {
        background-color: $grey-100;
        color: $white;
    }
}
